// make any element (block or inline-block) a perfect circle
@mixin circular-image($size) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: $size;
    height: $size;
    border-radius: 100%;
}
