// imports bootstrap-sass mixins: http://getbootstrap.com/css/#sass
@import "bootstrap/variables";
@import "bootstrap/mixins";

// imports sassline (vertical rhythm): https://sassline.com/
@import "sassline/variables.scss";
@import "sassline/mixins.scss";
	// Key mixin: sassline
	// General sassline mixin layout sassline($fontsize, $font, $lineheight, $below, $breakpoint);

// imports bourbon & neat
@import "bourbon/bourbon.scss";
@import "neat/neat.scss";

// imports foundation
// removes foundation css = it adds styles to elements
// TODO: research & re-add
// @import 'foundation/foundation.scss';

// Mixins provided by SCSS Utility Mixins
@import "variables";
@import "browser/appearance";
@import "browser/prefix";
@import "browser/ie/8";
@import "browser/ie/9";
@import "browser/ie/10_11";
@import "decoration/stripes";
@import "element/anchor";
@import "element/button";
@import "element/progress";
@import "element/submit";
@import "layout/clearfix";
@import "layout/positioning";
@import "layout/clearfix";
@import "layout/query";
@import "media/image/circle";
@import "media/video/play_button_circle";
@import "media/video/play_button_rounded";
@import "media/video/timer";
@import "text/font_sizing";
@import "text/font_face";